#Packages#
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pyc
*.xml 
*.csv
*.iml
Code/.idea
hmmlearn/build
hmmlearn/.idea
#Latex compile trash and outputs. Keep sources only# 
*.log
*.aux 
*.blg 
*.bbl 
*.toc
*.bak 
*.dvi 
*.ps 
*.pdf
*.out
**/checkpoint
*checkpoint*.ipynb
